.logo{
    height: 4em;
}

body{
    font-family: 'Press Start 2P', cursive;
    background-color:darkgrey;
}


.bg-success-subtle{
    --bs-bg-opacity: 5;
}

.mx-auto{
    text-align: center;
}

.nav-item {
    margin-right: 2rem!important;
}
