body{
    font-family: 'Press Start 2P', cursive;
    background-color:darkgrey;
}

.bg-success-subtle{
    --bs-bg-opacity: 5;
}

.card img{
    max-width:70%;
  }

.carousel-item{
    transition: transform 1s ease, opacity .5s ease-out
}